:root {
  --body-width: 80vw;
  --sidebar-width: 300px;
  --vertical-element-gap: 20px;
  --horizontal-element-gap: 40px;
  --navbar-height: 50px;
  --selection-height: 40px;
  --body-height: calc(100vh - var(--navbar-height) - var(--vertical-element-gap) * 2);
  --main-height: calc(var(--body-height) - var(--selection-height) - var(--vertical-element-gap));
  --main-width: calc(var(--body-width) - var(--sidebar-width) - var(--horizontal-element-gap));
  --small-height: 400px;
  --image-panel-height: var(--main-height);
  --image-panel-width: calc(var(--body-width) - var(--sidebar-width) - var(--horizontal-element-gap));
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  height: var(--body-height);
}

#app {
  margin-top: var(--navbar-height);
  height: calc(100vh - var(--navbar-height));
}

#main-wrapper {
  height: 100%;
  align-items: stretch;
}

#divider {
  --height: 90%;
  width: 1px;
  height: var(--height);
  margin-top: calc((100% - var(--height)) / 2);
  background-color: gray;
}

#results-panel {
  position: relative;
  height: 90%;
  overflow-y: auto;
}

#main-popup {
  position: absolute;
  vertical-align: middle;
  margin: 0;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 70%;
  max-height: 600px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #fff;
  border-style: outset;

  #popup-content {
    height: 100%;
    padding: 1rem;
  }

  .interactive-saliency-popup {
    height: 100%;
    .result-popup {
      height: 100%;
      position: relative;
    }
    .result-container {
      height: 100%;
      overflow-y: auto;
    }
  }
}

.selected-image {
  padding: 3px;
  border: 4px solid $highlight-color-L3;
  border-radius: 4px;
}

#close-popup {
  position: absolute;
  right: 5px;
}

.sticky {
  position: fixed;
}

.noscroll {
  overflow: hidden;
}

.vpartial {
  max-height: 90vh;
}

.scrolling {
  overflow: auto;
  max-height: 98%;
}

.hovered {
  border: 2px solid gray;
  border-radius: 4px;
}

#paint-brush-options {
  circle {
    &.selected {
      fill: $gt-color;
    }
  }
}

.selected {
  background-color: $selected-color;
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background: transparent;
  padding: 5px;
  border-radius: 5px;
  background-color: lightgray;

  &.selected {
    background-color: $selected-color;
  }
}

button:active :focus {
  background-color: $selected-color;
}

#loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid $selected-color;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 20%;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

svg {
  vertical-align: top;
}

select {
  font-size: 9pt;
  font-weight: 600;
  background-color: transparent;
  padding: 8px 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0;
  outline: 0;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
}

.navbarContent {
  margin: 10px 20px;

  span {
    padding-left: 10px;
  }

  button {
    margin-left: 10px;
  }
}

.navbarTitle {
  font-size: 12pt;
  font-weight: bold;
}

.main_frame {
  position: fixed;
  top: 55px;
  overflow-x: hidden;
  overflow-y: auto;
}

.floating_content {
  padding: 10px;
  height: 94%;
}

#bottom-margin {
  height: 100px;
}

.content {
  max-width: 960px;
  margin: auto;
}

.whitespace {
  height: 8vh;
}

.cont-nav {
  margin-top: calc(var(--navbar-height) + var(--vertical-element-gap));
  height: var(--selection-height);
}

#mainpage,
.ID_mainpage {
  height: var(--main-height);
  width: var(--main-width);
}

.short-height-main {
  height: calc(var(--small-height) + var(--selection-height)) !important;
}

#sidebar,
.ID_sidebar {
  width: var(--sidebar-width);
  margin-right: var(--horizontal-element-gap);
  display: flex;
  flex-direction: column;
  gap: var(--vertical-element-gap);
}

.empty-sidebar {
  --sidebar-width: 0px;
  --image-panel-height: var(--small-height);
  --image-panel-width: calc(var(--body-width) - var(--sidebar-width) - var(--horizontal-element-gap));
  --horizontal-element-gap: 0px;
}

#images-panel,
.ID_images-panel {
  height: inherit;
  width: inherit;
}

.full-width-images {
  width: var(--body-width) !important;
  height: var(--small-height) !important;
}

.saliency-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: auto;
  height: 100%;
  padding: 2rem 4rem;
}

.saliency-image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-bottom: calc(var(--vertical-element-gap) / 2);
  margin-top: calc(var(--vertical-element-gap) / 2);
  border: 2px solid #00000000;

  &.hovered {
    border: 2px solid var(--primary);
  }
}

.saliency-image {
  height: 175px;
  width: 175px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-info {
  display: flex;
  flex-direction: row;
  padding-bottom: 2pt;
  width: 95%;
  justify-content: center;
  line-height: 1.5;
}

.btn {
  font-size: 10pt;
  border-radius: 2pt;
  padding: 2pt;
  margin-left: 1pt;
  margin-right: 1pt;
  background-color: rgba(var(--secondary), 0.8);

  &:hover {
    border-width: thin;
    border-color: rgba($color: #000000, $alpha: 0.3);
  }
}

.image-info .info {
  font-size: 8pt;
  font-weight: 600;
  padding: 2pt;
  border-radius: 2pt;
  margin-left: 1pt;
  margin-right: 1pt;

  &:hover {
    border-width: thin;
    border-color: rgba($color: #000000, $alpha: 0.3);
  }
}

#main,
.ID_main {
  display: flex;
  flex-direction: row;
  margin-top: var(--vertical-element-gap);
  // height: var(--main-height);
  overflow-x: hidden;
  overflow-y: hidden;
}

.title {
  font-size: 10pt;
  font-weight: 600;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
}

.image-container {
  position: relative;
}

.pagination-controls {
  height: var(--pagination-height);
  margin-top: var(--vertical-element-gap);
}

.axis-grid line {
  stroke: #e6e6e6;
}

.remove-margin-top {
  margin-top: 0px;
}

.distill-figure {
  margin-top: 10px;
  margin-bottom: 20px;
}
.hidden {
  display: none;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(180, 180, 180, 0.7);
  border-radius: 50%;
  border-top-color: $highlight-color-L3;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  z-index: 3;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.centered-vh {
  position: absolute;
  top: 45%;
  left: 45%;
}

.best-prediction-result-image {
  text-align: center;
}

.background {
  opacity: 0.5;
  pointer-events: none;
}

#prediction-results-popup {
  position: absolute;
  vertical-align: middle;
  margin: 0;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 70%;
  max-height: 600px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #fff;
  border-style: outset;

  #popup-content {
    height: 100%;
    padding: 1rem;
  }

  .interactive-saliency-popup {
    height: 100%;
    .result-popup {
      height: 100%;
      position: relative;
    }
    .result-container {
      height: 100%;
      overflow-y: auto;
    }
  }
}

.interactive-saliency-mask {
  width: 400px;
  height: 400px;
}
